* {
  font-family: "Sans", sans-serif;
  font-size: 10pt;
}

#waybar {
  background-color: #282c34;
  color: #abb2bf;
  padding: 5px;
}

#clock {
  font-weight: bold;
}

#battery {
  color: #d19a66;
}

#network {
  color: #61afef;
}

